<!DOCTYPE html5>
<html lang = "en-US">
<head>
	<meta charset = "UTF-8">
	<link rel = "stylesheet"
	type = "text/CSS"
	href = "../static/blogstyle.css"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<title> William Lin</title>
</head>

<header>
	<div class = "container">

		<nav class = "nav" id = "myNav">
			<a id = "name" href="https://williamlin1.github.io"> William Lin </a></li>
			<a href="https://williamlin1.github.io#about" onclick="myFunction()"> About Me </a></li>
			<a href="https://williamlin1.github.io/templates/blog.html"> Blog </a></li>
			<a href="https://williamlin1.github.io/static/Resume.pdf"> Resume </a></li>
			<a href="https://williamlin1.github.io/templates/contact.html"> Contact </a></li>
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
    			<i class="fa fa-bars"></i>
  			</a>
		</div>
</header>


<body>
	<div class = "centerDiv">
		<div class = "miniCen">
			<h2> Rushing through college</h2>
			<p> When I was writing my college apps, I was very confident in what I wanted to do.
        Like many other high school dreamers, I wanted to start a CS company with an app idea that
         would disrupt current technologies and become a billionaire. I even applied as my first choice to the “Management and Technology” program at the University of Pennsylvania...  </p>
      <a class = "rm" href="https://williamlin1.github.io/src/posts/post1.html"> Read More </a></li>
      <h4 class = "date"> 6/1/2020 </h4>

    </div>
	</div>

	<div class = "footer">
		<ul>
			<li><a href = "https://www.facebook.com/CatTheTurtle/" target="_blank"><i class = "fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href = "#" target="_blank"><i class = "fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href = "https://www.linkedin.com/in/lin-william/" target="_blank"><i class = "fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li><a href = "#" target="_blank"><i class = "fa fa-instagram" aria-hidden="true"></i></a></li>
		</ul>
	</div>

<!-- jQuery -->
<script src="../js/jquery.js"></script>
<script src="../js/hamburger.js"></script>
<script src="https://use.fontawesome.com/df567ab86f.js"></script>
</body>
</html>
